@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
.container {
  padding: 0 2rem;
  font-family: 'Work Sans', sans-serif;
}

.input_dropdown {
  font-size: 20px;
}

.main {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.increase {
  color: #63bf8e;
}

.decrease {
  color: #ef503c;
}